!!! 5
html
  block head
    title= title
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  block body
    header
      div(id="divLogo",class="shadow")
        p(id="pLogoText") MyJunos
        p(id="pLogoDescription") Your Daily Junos Tips
    block content
  block footer
    footer