!!! 5
html
  block head
    title= title
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  block body
    header
    block content
  block footer
    footer
      ul
        li
          div(id="tweet-button",class="custom-tweet-button")
            a(href="https://twitter.com/intent/tweet?screen_name=MyJunos",class="twitter-mention-button",data-related="MyJunos") Share a tip to @MyJunos
        li
          div(id="tweet-button",class="custom-tweet-button")
            a(href="https://twitter.com/MyJunos",class="twitter-follow-button",data-show-count="false",data-size="large") Follow @MyJunos
