* {
  margin: 0px;
  padding: 0px;
}
html, body {
  background: #6699CC;
  height: 100%;
}
#mainContent {
  min-height: 100%;
  overflow: auto;
}
#logo-canvas {
  height: 150px;
  width: 300px;
}
header {
  width: 100%;
  height: 60px;
}
footer {
  margin-top: -100px;
  height: 50px;
  clear: both;
}
#divLogo {
  margin: 20px;
  width: 300px;
  height: 100px;
  background: #FFFFFF;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -moz-box-shadow: 10px 10px 5px #444;
  -webkit-box-shadow: 10px 10px 5px #444;
  box-shadow: 10px 10px 5px #444;
}
#pLogoText {
  font-family:'Cousine', sans-serif;
  font-size: 60px;
  text-align: center;
}
#pLogoDescription {
  font-family:'Cousine', sans-serif;
  text-align: center;
  font-size: 20px;
}
.divBox {
  margin-top: 100px;
  width: 800px;
  height: 400px;
  background: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -moz-box-shadow: 10px 10px 5px #444;
  -webkit-box-shadow: 10px 10px 5px #444;
  box-shadow: 10px 10px 5px #444;
}
.divShare {
  width: 1000px;
  height: 200px;
  margin-top: 50px;
} 
.tip {
  font-family: 'Cousine', sans-serif;
  font-size: 30px;
  text-align: center;
  padding-top: 100px;
}
.shadow {
}
.link-button a {
  font-family: 'Cousine', sans-serif;
  font-size: 17px;
  width: 250px;
  height: 32px;
  display: block;
  padding:18px 2px 2px 10px;
  background: url('http://www.juniper.net/favicon.ico') 2px center no-repeat;
  background-color: #FFFFFF;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -moz-box-shadow: 10px 10px 5px #444;
  -webkit-box-shadow: 10px 10px 5px #444;
  box-shadow: 5px 5px 2px #444;
  text-decoration: none;
  text-align: center;
  text-color: black;
  vertical-align: middle;
}
.custom-tweet-button a {
  font-family: 'Cousine', sans-serif;
  font-size: 17px;
  width: 250px;
  height: 32px;
  display: block;
  padding:18px 2px 2px 10px;
  background: url('http://a4.twimg.com/images/favicon.ico') 2px center no-repeat;
  background-color: #FFFFFF;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -moz-box-shadow: 10px 10px 5px #444;
  -webkit-box-shadow: 10px 10px 5px #444;
  box-shadow: 5px 5px 2px #444;
  text-decoration: none;
  text-align: center;
  text-color: black;
  vertical-align: middle;
}
a:link { 
  color: black;
  text-decoration: none; 
}
a:visited { 
  color: black; 
  text-decoration: none; 
} 
a:hover { 
  color: black; 
} 
ul {
  list-style-type: none;
  display: inline;
}
li {
  float: left;
  padding-left: 25px;
}
